# ===============================
# Server Configuration
# ===============================
NODE_ENV=development

# ===============================
# Database
# ===============================
MONGODB_URI=your_mongodb_connection_string_here

# ===============================
# Authentication
# ===============================
JWT_SECRET=your_jwt_secret_key_here

# ===============================
# Frontend
# ===============================
VITE_FRONTEND_URL=https://mern-authentication-system-drab.vercel.app

# ===============================
# Email (SMTP)
# ===============================
SMTP_USER=your_smtp_email_here
SMTP_PASSWORD=your_smtp_password_here

# ===============================
# Email Sender
# ===============================
SENDER_EMAIL=your_sender_email_here
